@media only screen and (min-width: 1024px) {

    main{
        display: flex;
        flex-direction: row;
    }

    .about-container{
        width: 25%;
    }

    .about{
        padding: 2em;
    }

    .recipe-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 50%;

    }    
    
    .flex-left{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .flex-right{
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .contact-container{
        display: flex;
        flex-direction: column;
        width:25%;
    }

    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .fname-email{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .recommendation-container{
        display: flex;
        flex-direction: column;
    }

  
   
     
 } /* end of media query */